* { border: 1px solid red;}



body {
    font-family: Verdana,sans-serif;
    background-color: #595241;body
    width: 42em;
    margin-left: 100px;
    color: yellow;

}
p {
    color: #ACCFCC;
}
h1 {
    color: #B8AE9C;
    text-align: center;
}
h2 {
    color: #FFFFFF;
    font-family: Garamond;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #DB5724;
}

li {
    padding-left: 1em;
    text-indent: -.5em;
}

li:before {
    content: "\2622  ";
    color: inherit;
}

.biography {
    font-size: 1.3em;
}
